LOCAL_MODE=false
S3_BUCKET=ver2-retail-analytics
RAW_KEY=raw/DB.xlsx
CURATED_PREFIX=curated/
OUTPUT_PREFIX=outputs/
ATHENA_DATABASE=retail_analytics
ATHENA_WORKGROUP=retail_analytics_workgroup
ATHENA_OUTPUT=s3://ver2-retail-analytics/outputs/athena/
AWS_DEFAULT_REGION=ap-southeast-2
WORK_DIR=/tmp/ver2
